@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    .navbar-content {
      background: none !important;
      
      width: 60% !important;
      height: 100% !important;
  
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      justify-content: space-between !important;

      position: initial !important;

      padding: 0 !important;
  
      ul {
        background-color: transparent !important;

        width: auto !important;
        height: 100% !important;

        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;

        text-align: center !important;
        list-style: none;

        padding: 0 !important;
  
        .navbar-links {
          height: 100% !important;

          display: flex;
          align-items: center;
          justify-content: center;

          color: var(--neutral-grayish-blue) !important;
          font-size: 1rem !important;
          font-weight: 400 !important;
          
          position: relative !important;

          margin: 0 !important;
          margin-right: 1.5rem !important;

          cursor: pointer;

          transition: all 0.1s ease-in-out;

          &:hover  {
            color: var(--primary-dark-blue) !important;
            font-weight: 700 !important;

            &::before {
              content: '';

              background: linear-gradient(90deg, var(--primary-lime-green), var(--primary-bright-cyan));

              width: 100%;
              height: 3px;

              position: absolute;
              bottom: 0;

              border-radius: 2px;

            }
          }
        }
      }

      button {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
    }

    .mobile-navbar {
      display: none;

    }
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    .header-bg-images {
      width: 70%;
      min-height: 600px;

      position: relative;

      margin-bottom: 2rem;

      overflow: hidden;

      .phone-image {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        object-fit: contain;
        object-position: center;
        image-rendering: optimizeQuality;

        width: 100%;
        height: 105%;

        position: absolute;
        top: -40px;
        right: -25%;
    
      }

      &::before {
        content: '';

        background-image: url('../assets/bg-intro-desktop.svg');

        width: 125%;
        height: 600px;

        position: absolute;
        top: -50px;
        right: -37%;

        z-index: -1;

      }
    }

    .header-content {
      width: 50%;

      align-items: flex-start;

      text-align: start;

      padding: 0 6rem;
      margin: 0 auto;

      .header-title {
        font-size: 3.3rem;

      }

      .header-text {
        max-width: 600px;

        font-size: 0.95rem;

      }

      .button--header {
        max-width: 200px;
      }

    }
  }
}